*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    font-size: 1.5rem;

}
main{
    display: flex;
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    padding: 10%;

   
}
.crew{
     display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    border-radius: 20px;
    margin: auto;


}
.image{
    width: 100%;
    height: 460px;

}
.desktop{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.text{
    background-color: hsl(0, 0%, 100%);
    padding: 10%;
    height: 460px;
    border-radius: 10px 10px 0 0;
    justify-content: center;
    align-items: center;
}
.preview{
    color: hsl(228, 12%, 48%);
    font-size: 1.8rem;
}
.cool{
    display: flex;
    margin-top: 5%;

}
.price{
    color: hsl(158, 36%, 37%);
    font-size: 2.5rem;
    margin-right: 5%;
}
.discount{
    margin-top: 10px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 1.4rem;

}

h1{
    margin-top: 10%;
    font-size: 1.8em;
    margin-bottom: 10%;

}
.sub{
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
    border-radius: 10px;
    border: none;
    padding: 10px;
    /* margin: 8% 1% 5% 1%; */
}
.para{
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
}

@media screen and (max-width:750px) {
 .crew{
    display: grid;
    grid-template-columns: 1fr;
 } 

}